.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}

.hint-and-guess{
    color: ghostwhite;
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    height: 150px;
}

.pokeball{
    border-radius: 50%;
    background-color: #303030;
    height: 150px;
    width: 150px;
    border-style: none;
}

#full-page-contents{
    background-color: #303030;
    width: 1500px;
    min-height: 1500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* align-self: center;
    align-content: center;
    justify-self: center;
    justify-content: center; */
}

#start-content{
    color: ghostwhite;
    align-self: center;
    justify-self: center;
}

#results{
    color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#dynamic-content{
    margin: auto;
    align-content: space-evenly;
    justify-content: space-evenly;
    flex-direction: column;
}

#sprite{
    height: 500px; 
    width: 500px;
    align-self: center;
}

body{
    background-color: #151515;
    
    font-family: 'Press Start 2P', cursive;
}

header{
    display: flex;
    align-content: space-around;
}

h1{
    color: #ffcb05;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
}

h2{
    color: #ffcb05;
    font-family: inherit;
    align-self: center;
    width: 1000px;
}

p{
    color: inherit;
    font-family: inherit;
    align-self: center;
    width: 1000px;
}

input{
    align-self: center;
    justify-self: center;
    height: 50px;
    color: black;
    font-family: inherit;
}

button{
    height: 50px;
    border-style: outset;
    color: #ffcb05;
    background-color: #3B4CCA;
    font-family: inherit;
    align-self: center;
}